$aubergine:  #350C3A;
$sky:        #0081B5;
$grass:      #5D9148;
$cedar:      #C05746;
$teal:       #003B36;
$paper:      #F0F1EB;
$auburn:     #9B2620;
$pacific:    #16BAC5;
$cream:      #FFF8E8;
$mint:       #03CEA4;
$tangerine:  #FB4D3D;
$darkforest: #0A2421;
